

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Management</title>
    <link rel="stylesheet" href="/styles/complaints.css">
</head>
<body>
    

   
        <section id="complaints">
            <h2>Submit a Complaint</h2>
            <form>
                <input type="text" name="item" placeholder="Add new item"/>
                <button type="submit">Submit</button>

                <h1>data</h1>

                <ul>
                    <% data.data.forEach((item) => { %>
                        <li><%= item %></li>
                    <% }); %>
                </ul>
        
            </form>
        </section>
    </main>

</body>
</html>
